.mini-month-view {
    display: grid;
    height: 92%;
    grid-template-rows: 15% 10% auto;
    align-items: center;
    background-color: var(--grid-color-primary);
    border-radius: 8px;
    padding: 0.5em;
    box-shadow: 0 2px 5px var(--shadow-color);
}

.mini-month-view-name {
    font-size: 0.8em;
    margin: 0.3em 0;
    text-align: center;
    cursor: pointer;
    color: var(--text-color-primary);
}

.mini-month-view-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    text-align: center;
    grid-auto-rows: 20px;
    gap: 2px;
    width: 100%;
}

.mini-view-day {
    width: 1.6em;
    height: 1.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    place-self: center;
    text-align: center;
    border-radius: 50%; /* makes it a circle */
    cursor: pointer;
    transition: background-color 0.2s;
    color: var(--text-color-primary);
}


.mini-view-weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 2px;
    width: 100%;
    margin-bottom: 2px;
    border-bottom: 1px solid var(--accent-color1);
}

.mini--view-weekday {
    font-size: 0.6em;
    text-align: center;
    font-weight: bold;
    color: var(--accent-color1);
}

.mini-view-day:hover {
    background-color: var(--accent-color3);
}

.mini-view-day.today {
    background-color: var(--accent-color2);
    color: var(--text-color-secondary);
}

.mini-view-day.event {
    background-color: var(--event-color);
    color: var(--text-color-secondary);
}