.month-timetable {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--grid-color-primary);
    filter: drop-shadow(0.25rem 0.25rem 0.30rem var(--shadow-color));
    border-radius: 0.25rem;
}

.month-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: var(--grid-color-secondary);
    border-bottom: 1px solid var(--grid-border-color);
}

.month-day-header {
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
    border-right: 1px solid var(--grid-border-color);
}

.month-body {
    flex: 1;
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    overflow-y: auto;
}

.month-week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.month-day {
    border: 1px dashed var(--grid-border-color);
    padding: 10px;
    min-height: 80px;
    box-sizing: border-box;
}

.month-day.today {
    background-color: var(--accent-color2);
    color: var(--text-color-secondary);
}
