.year-view {
    display: grid;
    gap: 1rem;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    height: 100%;
    grid-template-areas:
    "month month month month"
    "month month month month"
    "month month month month";
}

.mini-month-view {
    grid-area: month;
    display: grid;
}
