.calendar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.header-section {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.view-buttons {
    flex: 1;
    justify-content: flex-start;
}

.navigation {
    flex: 1;
    justify-content: center;
}

.add-event {
    flex: 1;
    justify-content: flex-end;
}

.view-button-group {
    display: flex;
    background-color: var(--btn-bg);
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.view-btn, .view-btn:hover {
    border: none;
    outline: none;
    background: transparent;
    color: var(--text-color-primary);
    padding: 0.6em 1.2em;
    cursor: pointer;
    border-radius: 50px;
    font-weight: 500;
    transition: background 0.2s ease, color 0.2s ease;
}

.view-btn.active {
    background-color: var(--btn-bg-active);
    color: var(--text-color-secondary);
}

.nav-btn, .nav-btn:hover, .nav-btn:focus, .nav-btn:active {
    width: 0.5em;
    height: 2.5em;
    border: none;
    outline: none;
    align-content: center;
    border-radius: 50%;
    background-color: var(--btn-bg-active);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    font-size: 1.2em;
    font-weight: bold;
    color: var(--text-color-secondary);
    cursor: pointer;
}

.current-label {
    margin: 0 1rem;
    font-weight: 600;
    color: var(--text-color-primary);
}


.btn-add,.btn-add:hover,.btn-add:focus,.btn-add:active {
    background-color: var(--btn-bg-active);
    border: none;
    color: var(--text-color-secondary);
    box-shadow: 0 4px 8px var(--shadow-color);
    padding: 0.6em 1.4em;
    border-radius: 50px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
