:root {
    /* Light Theme (Default) */
    --bg-color: radial-gradient(ellipse at top left, #eee, #eec4ff);
    --text-color-primary: #111;
    --text-color-secondary: #eee;
    --accent-color1: #B400FF;
    --accent-color2: #D776FF;
    --accent-color3: #F9EBFF;
    --btn-bg: #FFFFFF;
    --btn-bg-active: #B400FF;
    --grid-color-primary: #fff;
    --grid-color-secondary: #D776FF;
    --grid-color-third: #8A00C4;
    --grid-border-color: #333;
    --shadow-color: #aaa;
    --border-color: #F9EBFF;
    --header-bg: #F9EBFF;
    --card-bg: #B400FF;
    --brd-radius: 1.5dvi;
    --brd-radius-btn: 40dvi;
    --brd-radius-input: 0.75dvi;
    --auth-overlay-background: rgba(0, 0, 0, 0.6);
    --auth-bg: #F9EBFF;
    --auth-input: #fff;
    --auth-text: #aaa;
    --event-color: #8A00C4;
}

[data-theme="dark"] {
    /* Dark Theme */
    --bg-color: radial-gradient(ellipse at top left, #3B0053, #1a1a1a);
    --text-color-primary: #eee;
    --text-color-secondary: #111;
    --accent-color1: #B400FF;
    --accent-color2: #D776FF;
    --accent-color3: #6F009D;
    --btn-bg: #333;
    --btn-bg-active: #B400FF;
    --grid-color-primary: #333;
    --grid-color-secondary: #D776FF;
    --grid-color-third: #8A00C4;
    --grid-border-color: #ddd;
    --shadow-color: #444;
    --header-bg: #1a1a1a;
    --card-bg: #B400FF;
    --brd-radius: 1.5dvi;
    --brd-radius-btn: 40dvi;
    --auth-overlay-background: rgba(0, 0, 0, 0.6);
    --auth-bg: #222;
    --auth-input: #333;
    --auth-text: #aaa;
    --event-color: #8A00C4;
}

[data-theme="autumn"] {
    /* Autumn Theme */
    --bg-color: radial-gradient(ellipse at top left, #000, #351d0c);
    --text-color-primary: #eee;
    --text-color-secondary: #111;
    --accent-color2: #A5663D;
    --accent-color3: #854A1E;
    --accent-color1: #D6C0A9;
    --btn-bg: #854A1E;
    --btn-bg-active: #D6BEA9;
    --grid-color-secondary: #854A1E;
    --grid-color-third: #D6BEA9;
    --grid-color-primary: #686D69;
    --grid-border-color: #ddd;
    --shadow-color: #2f2f2f;
    --header-bg: #351d0c;
    --card-bg: #854A1E;
    --brd-radius: 1.5dvi;
    --brd-radius-btn: 40dvi;
    --auth-overlay-background: rgba(0, 0, 0, 0.6);
    --auth-bg: #686D69;
    --auth-input: #D6BEA9;
    --auth-text: #555;
    --event-color: #D6C0A9;
}