.theme-dropdown {
    width: 90%;
    margin: 0 auto;
}

.select-theme {
    width: 100%;
    padding: 8px 12px;
    border-radius: var(--brd-radius-btn);
    border: 0;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--accent-color1);
    color: var(--text-color-secondary);
}

.select-theme option[selected] {
    font-weight: bold;
    background-color: var(--accent-color3);
    color: var(--text-color-secondary);
}

.select-theme option:hover {
    background-color: var(--accent-color2);
}
